<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>首页_个人博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/bitbug_favicon.ico" type="image/x-icon" />
  <link href="static/css/base.css" rel="stylesheet">
  <link href="static/css/index.css" rel="stylesheet">
  <link href="static/css/m.css" rel="stylesheet">
  <script src="static/js/jquery.min.js" type="text/javascript"></script>
  <script src="static/js/jquery.easyfader.min.js"></script>
  <script src="static/js/scrollReveal.js"></script>
  <script src="static/js/common.js"></script>
</head>

<body>
  <header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="/index">个人博客</a></h1>
        <li><a href="/index">网站首页</a> </li>
        <li><a href="/login">专项课程</a>
          <ul class="sub-nav">
            <li><p href="list.html">Python相关</p></li>
            <li><p href="list.html">面试相关</p></li>
            <li><p href="list.html">数据库相关</p></li>
            <li><p href="list.html">人工智能</p></li>
            <li><p href="list.html">测试相关</p></li>
          </ul>
        </li>
        <li><a href="/login">问答</a>
        </li>
        <li><a href="/login">关于我</a> </li>
        <li><a href="/login">发表博客</a></li>
      </nav>
    </div>
    <a href="/login" id="login" target="_blank">登录</a>
    <a href="/register" id="register" target="_blank">注册</a>
    
    <!--menu end-->
    <!--mnav begin-->
    <!--
    <div id="mnav">
      <h2><a href="index.html" class="mlogo">个人博客</a><span class="navicon"></span></h2>
      <dl class="list_dl">
        <dt class="list_dt"> <a href="index.html">网站首页</a> </dt>
        <dt class="list_dt"> <a href="#">文章列表</a> </dt>
        <dd class="list_dd">
          <ul>
            <li><a href="list.html">Python</a></li>
            <li><a href="list.html">python Web</a></li>
            <li><a href="list.html">爬虫</a></li>
            <li><a href="list.html">人工智能</a></li>
            <li><a href="list.html">JS实例索引</a></li>
          </ul>
        </dd>
        <dt class="list_dt"> <a href="photo.html">我的相册</a> </dt>
        <dt class="list_dt"> <a href="time.html">时间轴</a> </dt>
        <dt class="list_dt"> <a href="gbook.html">留言</a> </dt>
        <dt class="list_dt"> <a href="about.html">关于我</a> </dt>
      </dl>
    </div>
    -->
    <!--mnav end-->


  </header>
  <article>
    <!--banner begin-->
    <div class="picsbox">
        <div id="banner" class="fader">
          <li class="slide"><a href="/login" target="_blank"><img src="static/images/banner01.jpg"><span class="imginfo">作为一名应届毕业生，该如何有效参加招聘</span></a></li>
          <li class="slide"><a href="/login" target="_blank"><img src="static/images/banner02.jpg"><span class="imginfo">干货|企业最新面筋报道</span></a></li>
          <li class="slide"><a href="/login" target="_blank"><img src="static/images/banner03.jpg"><span class="imginfo">如何做一名优秀的测试工程师</span></a></li>
          <div class="fader_controls">
            <div class="page prev" data-target="prev">&lsaquo;</div>
            <div class="page next" data-target="next">&rsaquo;</div>
            <ul class="pager_list">
            </ul>
          </div>
        </div>
    </div>
    
    <div class="blank"></div>
    <!--blogsbox begin-->
    <div class="blogsbox">
      <div class="blogs" data-scroll-reveal="enter bottom over 1s">
        <h3 class="blogtitle"><a href="/login" target="_blank">Python语言在人工智能中的优势 </a></h3>
        <span class="blogpic"><a href="/login" title=""><img src="images/toppic01.jpg" alt=""></a></span>
        <p class="blogtext">本文探讨了Python语言在AI领域的优势与运用。 谁会成为AI 和大数据时代的第一开发语言? 这本已是一个不需要争论的问题。如果说三年前,Matlab、Scala、R、Java
          ...</p>
        <div class="bloginfo">
          <ul>
            <!--<li class="author"><a href="info.html">南南子</a></li>
            <li class="lmname"><a href="info.html">python相关</a></li>-->
            <li class="author"><span>南南子</span></li>
            <li class="lmname"><span>python相关</span></li>
            <li class="timer">2021-5-20</li>
            <li class="view"><span>34567</span>已阅读</li>
            <li class="like">1235</li>
          </ul>
        </div>
      </div>
      <div class="blogs" data-scroll-reveal="enter bottom over 1s">
        <h3 class="blogtitle"><a href="/login" target="_blank">❤️肝完了，一天掌握数据结构和算法面试题，吊打面试官，建议收藏❤️ </a></h3>
        <p class="blogtext">最近有小伙伴面试，对数据结构和算法比较头疼，我整理了一波资料，帮助大家快速掌握数据结构和算法的面试，感觉有用的小伙伴，点赞支持哦！</p>
        <div class="bloginfo">
          <ul>
            <li class="author"><span>王王子</span></li>
            <li class="lmname"><span>面试相关</span></li>
            <li class="timer">2021-5-22</li>
            <li class="view">4567已阅读</li>
            <li class="like">567</li>
          </ul>
        </div>
      </div>
      
      <div class="blogs" data-scroll-reveal="enter bottom over 1s">
        <h3 class="blogtitle"><a href="/login" target="_blank">Python基础学习总结</a></h3>
        <span class="bigpic"><a href="/login" title=""><img src="images/toppic01.jpg" alt=""></a></span>
        <p class="blogtext">Python是一种解释型、面向对象、动态数据类型的高级程序设计语言。 Python 缩进与空行 Python 中文编码 Python 注释 Python 标识符 Python 保留字
          Python 数据类型 Python 运算符 Python 条件语句 Python 循环语句... </p>
        <div class="bloginfo">
          <ul>
            <li class="author"><span>江江子</span></li>
            <li class="lmname"><span>python相关</span></li>
            <li class="timer">2021-5-13</li>
            <li class="view"><span>34567</span>已阅读</li>
            <li class="like">9999</li>
          </ul>
        </div>
      </div>
      <div class="blogs" data-scroll-reveal="enter bottom over 1s">
        <h3 class="blogtitle"><a href="/login" target="_blank">❤️爆肝3万字，最硬核丨Mysql 知识体系、命令全集 【建议收藏 】❤️</a></h3>
        <span class="blogpic"><a href="/login" title=""><img src="images/toppic01.jpg" alt=""></a></span>
        <p class="blogtext">数据库(Database)就是按照数据结构来组织，存储和管理数据的仓库 专业的数据库是专门对数据进行创建，访问，管理，搜索等操作的软件，比起我们自己用文件读写的方式对象数据进行管理更加的方便，快速，安全... </p>
        <div class="bloginfo">
          <ul>
            <li class="author"><span>梅梅子</span></li>
            <li class="lmname"><span>数据库相关</span></li>
            <li class="timer">2021-5-24</li>
            <li class="view"><span>7888</span>已阅读</li>
            <li class="like">876</li>
          </ul>
        </div>
      </div>
      
    <!--blogsbox end-->

      <div class="guanzhu" id="follow-us">
        <h2 class="hometitle">关注我～</h2>
        <ul>
          <li class="tencent"><a href="#" target="_blank"><span>微信</span>JNull_1130</a></li>
          <li class="qq"><a href="#" target="_blank"><span>QQ号</span>304840656</a></li>
          <li class="email"><a href="#" target="_blank"><span>邮箱帐号</span>304840656@qq.com</a></li>
          <li class="wxgzh"><a href="#" target="_blank"><span>咨询电话</span>15185177583</a></li>
        </ul>
      </div>
    </div>
  </article>
  <footer id="footer">
    <a href="/login">帮助</a>
    <a href="/login">投诉</a>
    <a href="/login">用户反馈</a>
  </footer>
  <a href="#" class="cd-top">Top</a>
</body>

</html>
